html, * {
  box-sizing: border-box;
}

svg {
  filter: hue-rotate(-70deg) saturate(5) !important;
}

html, body {
  height: 100%;
  background-color: grey;
  
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 4px dotted grey;

}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  color: black;
  border: 1px solid red;
  border-radius: 4px;
  outline: none;
}

button:hover {
  background-color: green;
  color: cyan;
}
